<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.together.TeamMapper">
	
	<select id="select_team_all" resultType="TeamVO">
		select * from ${company_name} order by ${team_num}
	</select>
	
	<select id="get_member" resultType="String">
		select ${team_member} from ${company_name}
		where ${team_name} = #{team_name}
	</select>
</mapper>